#profileName {
  font-size: 24px;
}

#profileEmail {
  font-size: 16px;

  #profileEmailIcon {
    margin-right: 5px;
  }
}

#profileDesc {
  padding-top: 10px;
}

#profileNewPost {
  max-width: 650px;
  background-color: #f9f7f7;
}

#profileFeed {
  max-width: 650px;
  background-color: #f9f7f7;

  .feedItem {
    margin-bottom: 15px;
  }
}
